<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InstantSearch</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://kit.fontawesome.com/65795dead2.js" crossorigin="anonymous"></script>
</head>
<body>
<header id="header">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-12 col-lg-4">
                <div class="logo">
                    <img src="../images/instant_search_plus_logo.jpg" alt="logo" class="logo-img">
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <nav>
                    <ul class="nav_list d-flex justify-content-between">
                        <li class="nav_item">
                            <a href="https://www.instantsearchplus.com/" class="nav_link">
                                Platforms
                            </a>
                        </li>
                        <li class="nav_item">
                            <a href="https://www.instantsearchplus.com/customers/" class="nav_link">
                                Customers
                            </a>
                        </li>
                        <li class="nav_item">
                            <a href="https://www.instantsearchplus.com/mobile-search/" class="nav_link">
                                Technology
                            </a>
                        </li>
                        <li class="nav_item">
                            <a href="https://www.instantsearchplus.com/partners/" class="nav_link">
                                Partners
                            </a>
                        </li>
                        <li class="nav_item">
                            <a href="https://www.instantsearchplus.com/company-3/" class="nav_link">
                                Company
                            </a>
                        </li>
                        <li class="nav_item">
                            <a href="https://www.instantsearchplus.com/contact-us/" class="nav_link">
                            Contact Us
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}
