{% include 'header.html'%}
<main id="main">
    <div class="container">
        <div class="row">
            <div class="main-title">
                <h1 class="title">
                    {% for name in dates %}
                    <span>{{ name }}</span>
                    {% endfor %}
                </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="form-input">
                    <div class="arrow d-flex justify-content-between align-items-center">
                     <button class="btn btn-danger undo-req">
                         <i class="fa fa-arrow-left" aria-hidden="true"></i>
                         <span>Undo</span>
                     </button>
                    <button class="btn btn-danger redo-req">
                         <i class="fa fa-arrow-right" aria-hidden="true"></i>
                         <span>Redo</span>
                     </button>
                    </div>
                    <div class="group-form">
                        <div class="form-group row">
                            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" placeholder="First name" id="inputName" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputValue" class="col-sm-2 col-form-label">Number</label>
                            <div class="col-sm-10">
                                <input type="text" name="value" class="form-control" placeholder="Number" id="inputValue">
                            </div>
                        </div>
                    </div>
                    <button class="set-req btn btn-danger">Set</button>
                    <button class="get-req btn btn-danger">Get</button>
                    <button class="unset-req btn btn-danger">Unset</button>
                    <button class="numequalto-req btn btn-danger">Numequalto</button>
                    <button class="end-req btn btn-danger">End</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'footer.html'%}